// Componentからもimportできるように定数やmixinの定義のみのスタイルシート
@import general/util

// Componentsでも閾値を共有できるように、common.sassではなく、ここで設定する
$pc_sp_threshold: 990px
@import general/pc-sp

$font_color_gray: #555454

$color_main: #546fff
$color_alt: #ff54a9


$header_height: 60px